$include /etc/inputrc

# Use Vi, not Emacs, style editing.
set editing-mode vi

# Delay in milliseconds after (Esc) key press.
set keyseq-timeout 50

# Show whether you are in insert or command mode.
set show-mode-in-prompt on

# Cursor shape indicates the vi mode.
set vi-ins-mode-string "\1\e[5 q\2"
set vi-cmd-mode-string "\1\e[2 q\2"

# So Ctrl+l clears screen both in insert and command mode.
Control-l: clear-screen

# Case insensitive filename matching.
set completion-ignore-case on

# List ambiguous matches instead of ringing the bell.
set show-all-if-ambiguous on

# List unmodified matches instead of ringing the bell.
set show-all-if-unmodified on

# Use Tab to cycle forward through the matches.
TAB:menu-complete

# Use Shift+Tab to cycle backward through the matches.
"\e[Z":menu-complete-backward
